@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{ ViewData["Title"] = "Walker Profile"; }
<div>
    <h1 class="mb-4">@Model.Walker.Name</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="@Model.Walker.ImageUrl" />
        <div>
            <label>Email:</label>
            <span>@Model.Walker.Email</span>
        </div>
        <div>
            <label>Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container pt-5">
            <h2 class="text-left">Recent Walks</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Owner
                        </th>
                        <th>
                            Duration
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Walks)
                    {
                        <tr>
                            <td>
                                @item.Date.ToShortDateString()
                            </td>
                            <td>
                                @Model.Owners.First(owner => owner.Dogs.Any(Dog => Dog.Id == item.DogId)).Name
                            </td>
                            <td>
                                @(item.Duration / 60 ) min
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

        <section class="col-4 pt-5 container bg-light">
            <h3 style="color: gray;">Total Walk Time: @(Model.WalkTime)</h3>
        </section>
    </div>
</div>
