@model DogGo.Models.ViewModels.ProfileViewModel

@{ ViewData["Title"] = "Profile"; }
<div>
    <h1 class="mb-4">@Model.Owner.Name</h1>

    <section class="container">
        @if (String.IsNullOrEmpty(Model.Owner.ImageURL))
        {
            <img style="width:100px;float:left;margin-right:20px"
                 src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />
        }
        else
        {
            <img style="width:100px;float:left;margin-right:20px"
                 src="@Model.Owner.ImageURL" />
        }
        <div>
            <label class="font-weight-bold">Address:</label>
            <span>@Model.Owner.Address</span>
        </div>
        <div>
            <label class="font-weight-bold">Phone:</label>
            <span>@Model.Owner.Phone</span>
        </div>
        <div>
            <label class="font-weight-bold">Email:</label>
            <span>@Model.Owner.Email</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <div class="row">
                <h2 class="text-left">Dogs</h2>
                <a class="btn btn-secondary btn-sm ml-5 align-self-center" asp-action="Create" asp-controller="Dogs" role="button">Add Dog</a>
            </div>

            <div class="row">
                @foreach (Dog dog in Model.Dogs)
                {
                    <div class="card m-4" style="width: 18rem;">
                        <a class="btn btn-sm close ml-auto" href="@Url.Action("Delete", "Dogs", new { id = dog.Id })" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                        @if (String.IsNullOrEmpty(dog.ImageUrl))
                        {
                            <img src="https://cdn.pixabay.com/photo/2018/08/15/13/12/dog-3608037_960_720.jpg"
                                 class="card-img-top"
                                 alt="Doggo" />
                        }
                        else
                        {
                            <img src="@dog.ImageUrl" class="card-img-top" alt="Doggo" />
                        }
                        <div class="card-body d-flex flex-column">
                            <div>
                                <label class="font-weight-bold">Name:</label>
                                <span>@dog.Name</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Breed:</label>
                                <span>@dog.Breed</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Notes:</label>
                                <p>@dog.Notes</p>
                            </div>
                            <div class="align-self-end mt-n5 d-flex flex-column">
                                <a class="btn btn-secondary btn-sm align-self-center w-100 mb-1" href="@Url.Action("Details", "Dogs", new { id = dog.Id })" role="button">Walks</a>
                                <a class="btn btn-secondary btn-sm align-self-center w-100" href="@Url.Action("Edit", "Dogs", new { id = dog.Id })" role="button">Edit</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="col-lg-4 col-md-8 container mt-5">
            <h2>Walkers Near Me</h2>

            <ul class="list-group mt-4">
                @foreach (Walker walker in Model.Walkers)
                {
                    <li class="list-group-item d-flex align-items-center" aria-disabled="true">
                        <img src="@walker.ImageUrl" style="width:50px" />
                        <span class="font-weight-bold ml-4">@walker.Name</span>
                        <a class="btn btn-secondary btn-sm ml-auto rounded-pill" asp-action="Create" asp-controller="Walks" role="button">Schedule a Walk</a>
                    </li>
                }
            </ul>
        </section>
   
        <section class="col-8 container pt-5">
            <h2 class="text-left">Upcoming Walks</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Walker
                        </th>
                        <th>
                            Dog
                        </th>
                        <th>
                            Date/Time
                        </th>
                        <th>
                            Confirmed
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UpcomingWalks)
                    {
                    <tr>
                        <td>
                            @Model.Walkers.FirstOrDefault(walker => walker.Id == item.WalkerId).Name
                        </td>
                        <td>
                            @Model.Dogs.First(dog => dog.Id == item.DogId).Name
                        </td>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @if (item.WalkStatus.Id == 2)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                @item.WalkStatus.Description
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>